/* START RESET settingg for css */
/*==============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, .about-customer, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
}

/* END reset settingg for css */
/*==============================*/
/* START BASIC STYLES */
html {
  height: 100%;
}

body {
  line-height: 1.6;
  hyphens: auto;
}

* {
  -webkit-box-: border-box;
  -moz-box-: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: 0;
}

a:active {
  outline: 0;
}

img, .about-customer {
  border: none;
  vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* END BASIC STYLES */
html {
  font: 10px "Open Sans", "Raleway", sans-serif;
}

/* START CUSTOMER SECTION */
#wrapper {
  max-width: 140rem;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.customers {
  min-height: 59rem;
  padding: 9rem 15rem;
  font: 1.4rem "Open Sans", "Raleway", sans-serif;
  color: #a9aaac;
  outline: 1px solid #ccc;
}

.customers h2 {
  font: 3.6rem "Raleway", sans-serif;
  letter-spacing: .1rem;
  text-align: center;
  margin-bottom: 2.3rem;
  color: #212121;
}

.customers h4 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 1.6rem;
}

.customers-orange-line {
  width: 6rem;
  height: 0.2rem;
  background-color: #ff8b38;
  margin: 0 auto;
}

.customer-1, .customer-2, .customer-3 {
  min-height: 23rem;
  max-width: 24%;
  margin-right: 13%;
  display: inline-block;
}

.customer-3 {
  margin-right: 0;
}

.customer-blockquote {
  font-style: italic;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  border-radius: 0.4rem;
  position: relative;
  padding: 2.2rem 1rem;
  width: 26rem;
  min-height: 12rem;
  background-color: #f5f5f5;
}

.bloq-triangl {
  display: block;
  width: 2rem;
  height: 1.4rem;
  position: absolute;
  bottom: -1.4rem;
  left: 2.3rem;
  background-image: url("../images/bloq-bg.png");
  background-repeat: no-repeat;
}

.customer-profile {
  margin-top: 2.2rem;
}

.customer-profile img, .customer-profile .about-customer {
  display: inline-block;
  margin-right: 1.4rem;
}

.about-customer {
  width: 10rem;
}

.customer-name {
  font-weight: 700;
  font-size: 2rem;
  color: #333;
}

.customer-profile {
  font-size: 1.4rem;
}

/* END CUSTOMER SECTION */
/* START DESIGN SECTION */
.design {
  padding-top: 7rem;
  width: 100%;
  text-align: center;
  min-height: 31rem;
  background: #000 url("../images/design-bg.jpg") no-repeat;
  color: #fff;
}

.design h2 {
  font: 3.6rem "Raleway", sans-serif;
  letter-spacing: .1rem;
  text-transform: uppercase;
  margin-bottom: 2.8rem;
}

.design h4 {
  color: #afadaa;
  margin: 3.5rem 0;
  font-size: 1.6rem;
}

.design .button {
  width: 13rem;
  height: 3.5rem;
  margin: 0 auto;
}

.design a {
  color: #fff;
  border: 2px solid #fff;
  padding: 1.1rem 3.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  width: 13rem;
}

.design a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #ff8b38;
  transition: all .4s linear;
}

.design-white-line {
  margin: 0 auto;
  width: 6rem;
  height: 0.2rem;
  background-color: #fff;
}

/* END DESIGN SECTION */
