@import '_var.sass'
@import '_reset.sass'
@import '_basic-styles.sass'
@import '_mixins.sass'

html 
	font: 10px $main-font-family
/* START CUSTOMER SECTION */
#wrapper 
	max-width: $main-max-width
	height: 100%
	margin: 0 auto
	background-color: $main-bg-c	

.customers 
	min-height: 59rem
	padding: 9rem 15rem
	font: $font-size-m $main-font-family
	color: $main-f-c
	outline: 1px solid #ccc

	h2
		font: $font-size-b $second-font-family
		letter-spacing: .1rem
		text-align: center
		margin-bottom: 2.3rem
		color: #212121
	h4
		text-align: center
		margin-top: 3rem
		margin-bottom: 5rem
		font-size: 1.6rem

.customers-orange-line
	width: 6rem
	height: 0.2rem
	background-color: #ff8b38
	margin: 0 auto

.customer-1, .customer-2, .customer-3
	min-height: 23rem
	max-width: 24%
	margin-right: 13%
	display: inline-block
.customer-3
	margin-right: 0
.customer-blockquote 
	font-style: italic
	+border-radius(.4rem)
	position: relative
	padding: 2.2rem 1rem
	width: 26rem
	min-height: 12rem 
	background-color: #f5f5f5

.bloq-triangl 
	display: block
	width: 2rem
	height: 1.4rem
	position: absolute
	bottom: -1.4rem
	left: 2.3rem
	background-image: url("../images/bloq-bg.png") 
	background-repeat: no-repeat

.customer-profile
	margin-top: 2.2rem
	img 
		display: inline-block
		margin-right: 1.4rem

.about-customer 
	@extend img
	width: 10rem

.customer-name
	font-weight: 700 
	font-size: 2rem
	color: #333
.customer-profile 
	font-size: $font-size-m

/* END CUSTOMER SECTION */
/* START DESIGN SECTION */

.design 
	padding-top: 7rem
	width: 100%
	text-align: center
	min-height: 31rem
	background: #000 url('../images/design-bg.jpg') no-repeat
	color: $second-f-c
	h2
		font: $font-size-b $second-font-family
		letter-spacing: .1rem
		text-transform: uppercase
		margin-bottom: 2.8rem
	h4
		color: #afadaa
		margin: 3.5rem 0
		font-size: 1.6rem
	.button 
		width: 13rem
		height: 3.5rem
		margin: 0 auto
	a
		color: $second-f-c
		border: 2px solid #fff
		padding: 1.1rem 3.5rem
		font-size: 1.5rem
		text-transform: capitalize
		width: 13rem
		&:hover
			background-color: rgba(255,255,255,0.2)
			border-color: #ff8b38
			transition: all .4s linear

.design-white-line
	margin: 0 auto
	width: 6rem
	height: 0.2rem
	background-color: #fff
/* END DESIGN SECTION */